.coursePage {
  display: flex;
  justify-content: flex-end;
}

.courseDetails {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: flex-end;
  margin: 20px;
  margin-top: -20px;
  width: 370px;
}

.courseImg {
  display: flex;
  max-width: 350px;
  margin: 10px;
}

.coursePrice {
  margin-left: 5px;
  align-self: flex-start;
  font-weight: bolder;
}

.cartBtn {
  align-self: center;
  color: white;
  font-weight: bolder;
  background-color: blueviolet;
  border: none;
  margin: 5px;
  padding: 10px;
  width: 300px;
}

.buyBtn {
  align-self: center;
  color: black;
  font-weight: bolder;
  background-color: white;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  width: 300px;
}

.refundInfo {
  align-self: center;
  font-size: x-small;
  margin: 10px;
}

.featureList {
  align-self: flex-start;
  margin: 5px;
}

ul {
  list-style: none;
}

.feature {
  margin: 0px;
  margin-left: -30px;
}

.featureImg {
  display: inline;
  width: 15px;
  margin-right: 5px;
}

.featureTxt {
  display: inline;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.featureHeader {
  font-weight: bolder;
  margin-bottom: 5px;
}
