.coursesPreview {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.coursesPreviewHeader {
  margin-left: 20px;
}

.coursesPreviewHeader h1 {
  font-family: "Times New Roman", Times, serif;
}

.coursesPreviewHeader h3 {
  all: revert;
  margin-top: -5px;
  font-weight: lighter;
}
