footer {
  display: block;
  background-color: #1c1d1f;
}

.footerLinks {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  padding: 30px;
  flex-grow: 1;
  max-width: 250px;
}

.col a {
  color: white;
  margin: 5px;
  font-size: small;
}

.col a:hover {
  text-decoration: underline;
}

.footerCr {
  display: flex;
}

.footerCr p {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 30px;
  color: white;
  flex-grow: 1;
}

.footerLogo {
  height: 50px;
  width: 100px;
  margin-left: 40px;
}
