.courseCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 5px 10px 5px;
}

.courseImg {
  max-width: 250px;
}

.courseTitle {
  margin: 5px;
  font-weight: bold;
  max-width: 250px;
}

.courseAuthor {
  margin: 0px;
  color: gray;
  font-size: smaller;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.courseRating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.courseRate {
  font-weight: bold;
  padding-right: 5px;
  color: rgb(132, 95, 2);
}

.checked {
  color: goldenrod;
}

.coursePrice {
  font-size: medium;
  font-weight: bold;
}

.cardLink:hover {
  color: black;
  filter: brightness(80%);
}
